<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Know More</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link href ="{{ url_for('static', filename ='/img/ddicon.jpg')}}" rel  = "icon">
  <link href="{{ url_for('static', filename ='/img/ddicon.jpg')}}" rel = "apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

   <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename ='vendor/bootstrap/css/bootstrap.min.css')}}" >
  <link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" >
  <link href="{{ url_for('static', filename ='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename ='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>

<style>
/*--------------------------------------------------------------
# Title Section
--------------------------------------------------------------*/
#title {
  width: 100%;
  height: 30vh;
  background: #f9f9f9;
}

#title .container {
  padding-top: 84px;
}

#title h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #0f394c;

}
/*--------------------------------------------------------------
# Info Section Bullets
--------------------------------------------------------------*/
 #info ul li::before {
  content: "\2022";
  color:#49b5e7;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

</style>


<body >

   <!-- ======= Header ======= -->
  
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

<a href="/" class="logo"><img src="{{ url_for('static', filename ='/img/ddicon.jpg')}}"  alt="" class = "img-fluid"></a>
      <h3 style= "color: #49b5e7"><b> WELCOME TO DROWSINESS DETECTION PROJECT!</b></h3>      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
			<li><a  href="/">Home</a></li>
          <li><a  href="/">Predict</a></li>
          <li><a  href="/howitworks">How it works</a></li>
          <li><a  href="#">Know More</a></li>
          <li><a href="/">Team</a></li>
          <li><a class="nav-link scrollto" href="#">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


 <!-- ======= Title ======= -->
<section id="title" style=" background: #f9f9f9;">
  
    <div class="container" >
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Know more</h1>   
        </div>
      </div>

    </div>

  </section><!-- End Title -->

  <!-- ======= Info ======= -->
 
<section id="info">  
	<div class="container">
	 <!-- ======= The Drowsy Driving Problem ======= -->
	
	 <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_ynVx3T.json"  background="transparent"  speed="1"   style= "float:right;width:500px;height:300px;margin-left:15px;"  loop  autoplay></lottie-player>
	<h1 style="color: #49b5e7;"><b>The Drowsy Driving Problem</b></h1>
	<p>Drowsy driving is a major problem all over the world. The risk, danger, and often tragic results of drowsy driving are alarming. 
	Drowsy driving is the dangerous combination of <b>driving and sleepiness or fatigue</b>. This usually happens when a driver has not slept enough,
	but it can also happen because of untreated sleep disorders, medications, drinking alcohol, or shift work.
	No one knows the exact moment when sleep comes over their body. Falling asleep at the wheel is clearly dangerous, but being sleepy affects
	your ability to drive safely even if you don’t fall asleep. Drowsiness—
	<ul >
	<li>Makes you less able to pay attention to the road.
	<li>Slows reaction time if you have to brake or steer suddenly.
	<li>Affects your ability to make good decisions.
	</ul>
	</p><br><br>
	<!-- ======= Did you know! ======= -->
	<h1 style="color: #49b5e7;"><b>Did you know!</b></h1>
	<ul >
	<li>An estimated 1 in 25 adult drivers (aged 18 or older) report having fallen asleep while driving in the previous 30 days.
	<li>The National Highway Traffic Safety Administration estimates that drowsy driving was responsible for <b>72,000</b> crashes, <b>44,000</b> injuries, 
        and </b>800</b> deaths in 2013. However, these numbers are underestimated, and up to <b>6,000</b> fatal crashes each year may be caused by drowsy drivers.</li>
	</ul>
	<br><br>
	<img src = "/static/img/causes.jpeg" style= "float:right;width:400px;height:300px;margin-left:15px;" alt="">
	<!-- ======= What Causes Drowsy Driving? ======= -->
	<h1 style="color: #49b5e7;"><b>What Causes Drowsy Driving?</b></h1>
	<ul >
	<li><b>Sleep deprivation: </b> Lack of sleep is a leading cause of excessive daytime sleepiness, which can induce microsleeps or other dangerous driving behavior. Adults should get between seven and nine hours of sleep each night, but a significant number of adults routinely fail to get this recommended amount of sleep.

	<li><b>Sleep disorders:</b> Many sleep disorders, such as obstructive sleep apnea, ca    use a person’s sleep to be restricted, interrupted, and less restorative. Many sleep disorders go undiagnosed and, when left untreated, can cause daytime drowsiness.

	<li><b>Alcohol:</b> Drinking alcohol can prompt sleepiness while also affecting reaction time and decision-making in ways that increase the risks of auto accidents.
	<li><b>Medications:</b> Numerous medications cause sleepiness. Sleep aids, including prescription drugs, over-the-counter medications, and dietary supplements, that are taken at night may cause lingering grogginess the next morning. Drowsiness is also a side effect of medications used for many other conditions.
	<li><b>Time of day:</b> Auto accidents from drowsy driving occur most frequently between midnight and six a.m. or in the mid-afternoon, which are two times when sleepiness peaks.
	<li>Drowsy driving can affect anyone who takes the wheel, but certain people are at higher risk of car crashes related to drowsy driving, including:
		<ul>
		<li>People who drive for a living such as long-haul truckers or bus drivers.
		<li>People who work long hours, irregular shifts, or night shifts
		</ul>
	</ul>
	<br><br>
<img src = "/static/img/notsleep.jpeg" style= "float:right;width:400px;height:300px;margin-left:15px;" alt="">
	<!-- ======= Warnings ======= -->
	<h1 style="color: #49b5e7;"><b>Warnings</b></h1>
	
	<ul >
	<li>Frequent yawning
	<li>Feelings of dozing off
	<li>Tired eyes, droopy eyes, or an increase in blinking
	<li>Drifting into other lanes or hitting “rumble strips” on the road
	<li>Inability to remember the last few miles
	<li>Missing a road sign or exit
	<li>Difficulty maintaining proper speed
	</ul>
	<br><br>
	
	
	<!-- ======= To Avoid Drowsy Driving? ======= -->
	<h1 style="color: #49b5e7;"><b>To Avoid Drowsy Driving?</b></h1>
	<p>While driving:</p>
	<ul>
	<li><b>Watch for warning signs:</b> If you notice any feelings of sleepiness or symptoms of drowsy driving, look for an immediate opportunity to stop and rest. Remember that it’s “better safe than sorry,” so don’t try to power through if you’re tired.

	<li><b>Utilize caffeine:</b> Caffeine is a stimulant that can make you more alert for a few hours; however, it isn’t a cure-all. When caffeine wears off, you’ll likely get sleepy again, and more caffeine may have diminishing returns.

	<li><b>Be wary of “tricks” to stay awake:</b> Some people try fiddling with their windows, air conditioning, or radio to stay awake, but this can draw your attention away from the road. Instead of using these tricks, it’s better to stop and let your body get the rest it needs.
	</ul>
	</div>
</section><!-- End Info -->
	

<!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Drowsiness Dectection</h3>
            <p>
              P-14, Phase 1, Hinjewadi Rajiv Gandhi Infotech Park,<br>
               Hinjawadi, Pune,<br>
               Maharashtra 411057 <br><br>
              <strong>Phone:</strong> +91 1234567890<br>
              <strong>Email:</strong> isquareit@gamil.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">

          </div>

          <div class="col-lg-3 col-md-6 footer-links">

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Drowsiness Dectection</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

   <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{ url_for('static', filename = 'vendor/swiper/swiper-bundle.min.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename = 'js/main.js')}}"></script>

</body>
</html>


 
 